*{
    padding: 0;
    margin:0;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 10vh;
    background-color: salmon;
    padding:20px;
}

header div{
    font-size:40px;
}

header button{
    font-size:20px;
    width: 100px;
    height:60px;
}
main{
    min-height: 75vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.row{
    margin:10px;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    padding:10px;
    margin:10px;
    width: 800px;
    height:200px;
    position: relative;
    flex: 1 ;
    background-color: salmon;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 25px;
}

.text{
    display: flex;
    justify-content: center;
}

main button{
    width: 200px;
    height: 200px;
    background-color: salmon;
    border-style: none;
    font-size: 30px;
    border-radius: 25px;
}


footer{
    padding: 20px;
    font-size:30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
   min-height: 10vh;
   background: salmon;
}
